.honors{
    padding-top: 5rem;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 300px;
  }

.honor-box{
    padding-top: 40px;
    padding-inline: 7.5rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    height: 35rem;
}
.box{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.bg-img{
    background-color: #151515;
    height: 30rem;
    border-radius: 1rem;
}
.box p{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.box:hover{
    transform: translate3d(8px, -10px, 30px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    color:white;
    box-shadow: 0 0 15px white;
}