.container4{
    margin: 10px;
    display: flex;
    align-items: start;
    padding-right: 35px;
    padding-left:20px;
    padding-top: 10px;
    background-color: #262626;
    justify-self: center;
}
.desc{
    padding-inline: 10px;
   align-items: start;
   justify-content: center;
    display: flex;
    flex-direction: column;
}

.desc h5 {
    font-size: 25px;
    color: white;
    margin-top:0px;
    margin-bottom: 0px; 
  }

  .desc p{
    margin-top:0px;
    font-size: 20px;
  }

  footer{
    background-color: #151515;
    margin-inline: 8rem;
    border-radius: 2rem;
    padding:2.5rem;
    margin-bottom:50px ;
  }

footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 85px;
  text-align: left;
  }

 .fmenu{
    padding: 40px;

  }

  footer div div div{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 120px;
    text-align: left;
    }

    .fbuttons{
      padding-top: 30px;
      gap: 50px;
    }

footer Fab{
  box-shadow: none;
}