.container4{
    margin: 10px;
    display: flex;
    align-items: start;
    padding-right: 35px;
    padding-left:20px;
    padding-top: 10px;
    background-color: #262626;
    justify-self: center;
}
.desc{
    padding-inline: 10px;
   align-items: start;
   justify-content: center;
    display: flex;
    flex-direction: column;
}

.desc h5 {
    font-size: 25px;
    color: white;
    margin-top:0px;
    margin-bottom: 0px; 
  }

  .desc p{
    margin-top:0px;
    font-size: 20px;
  }

  footer{
    background-color: #151515;
    margin-inline: 8rem;
    border-radius: 2rem;
    padding:2.5rem;
    margin-bottom:50px ;
  }

footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 85px;
  text-align: left;
  }

 .fmenu{
    padding: 40px;

  }

  footer div div div{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 120px;
    text-align: left;
    }

    .fbuttons{
      padding-top: 30px;
      gap: 50px;
    }

footer Fab{
  box-shadow: none;
}

nav .hamburger{
  display:none;
  position: absolute;
  top: 1.3rem;
  right:1rem;
  flex-direction: column;
  padding-inline:10px;
  justify-content: space-between;
}

/* styles.css */

@media (max-width: 1000px) {
  .avatar{
    display: none;
  }
  nav {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) saturate(180%) contrast(50%) brightness(130%);
    -webkit-backdrop-filter: blur(20px) saturate(180%) contrast(50%) brightness(130%);
    z-index: 1000;
    transition: height 0.3s ease; /* Smooth transition */
  }

  nav .hamburger {
    display: flex;
  }

  nav .ls-button {
    margin-bottom: 6.5rem;
  }

  nav .menu {
    padding-top: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    box-sizing: border-box;
    margin-left: auto;
    overflow: hidden;
    transition: height 0.3s ease; /* Smooth transition */
  }

  nav.closed {
    height: 80px; /* Height when the menu is closed */
  }
  #closed.menu{
    display: none;
  }
 nav .btnclosed{
  display: none;
 }

  nav.open {
    height: 60vh; /* Height when the menu is open */
  }

  nav .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.8rem;
  }

  nav ul {
    gap: 4rem;
    text-align: center;
    padding-left: 0%;
  }
}
